body {
	background-color: #BFCAFF;
// }
}

h3 {
	text-align: center;
	justify-content: center;
	font-family: 'Solway', serif;
}

.form {
	text-align: center;
}

.card {
	text-align: center;
}

header {
	font-family: 'Solway', serif;
	font-size: 24px;

}

img {
	text-align: center;
	justify-content: center;
}

.tag {
	font-style: italic;
}

.navbar-brand {

font-family: 'Solway', serif;
font-size: 30px;

}

.nav-link {
	font-family: 'Solway', serif;
}


.btn {
font-family: 'Solway', serif;
font-size: 15px;
}